@import "modern-normalize/modern-normalize.css";
.p-4 {
  padding: 4px;
}

.m-4 {
  margin: 4px;
}

.p-4 {
  padding: 4px;
}

.m-4 {
  margin: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.pb-4 {
  padding-bottom: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.mr-4 {
  margin-right: 4px;
}

@media (min-width: 576px) {
  .p-sm-4 {
    padding: 4px;
  }
  .m-sm-4 {
    margin: 4px;
  }
  .p-sm-4 {
    padding: 4px;
  }
  .m-sm-4 {
    margin: 4px;
  }
  .pt-sm-4 {
    padding-top: 4px;
  }
  .mt-sm-4 {
    margin-top: 4px;
  }
  .pb-sm-4 {
    padding-bottom: 4px;
  }
  .mb-sm-4 {
    margin-bottom: 4px;
  }
  .pl-sm-4 {
    padding-left: 4px;
  }
  .ml-sm-4 {
    margin-left: 4px;
  }
  .pr-sm-4 {
    padding-right: 4px;
  }
  .mr-sm-4 {
    margin-right: 4px;
  }
}
@media (min-width: 768px) {
  .p-md-4 {
    padding: 4px;
  }
  .m-md-4 {
    margin: 4px;
  }
  .p-md-4 {
    padding: 4px;
  }
  .m-md-4 {
    margin: 4px;
  }
  .pt-md-4 {
    padding-top: 4px;
  }
  .mt-md-4 {
    margin-top: 4px;
  }
  .pb-md-4 {
    padding-bottom: 4px;
  }
  .mb-md-4 {
    margin-bottom: 4px;
  }
  .pl-md-4 {
    padding-left: 4px;
  }
  .ml-md-4 {
    margin-left: 4px;
  }
  .pr-md-4 {
    padding-right: 4px;
  }
  .mr-md-4 {
    margin-right: 4px;
  }
}
@media (min-width: 992px) {
  .p-lg-4 {
    padding: 4px;
  }
  .m-lg-4 {
    margin: 4px;
  }
  .p-lg-4 {
    padding: 4px;
  }
  .m-lg-4 {
    margin: 4px;
  }
  .pt-lg-4 {
    padding-top: 4px;
  }
  .mt-lg-4 {
    margin-top: 4px;
  }
  .pb-lg-4 {
    padding-bottom: 4px;
  }
  .mb-lg-4 {
    margin-bottom: 4px;
  }
  .pl-lg-4 {
    padding-left: 4px;
  }
  .ml-lg-4 {
    margin-left: 4px;
  }
  .pr-lg-4 {
    padding-right: 4px;
  }
  .mr-lg-4 {
    margin-right: 4px;
  }
}
@media (min-width: 1200px) {
  .p-xl-4 {
    padding: 4px;
  }
  .m-xl-4 {
    margin: 4px;
  }
  .p-xl-4 {
    padding: 4px;
  }
  .m-xl-4 {
    margin: 4px;
  }
  .pt-xl-4 {
    padding-top: 4px;
  }
  .mt-xl-4 {
    margin-top: 4px;
  }
  .pb-xl-4 {
    padding-bottom: 4px;
  }
  .mb-xl-4 {
    margin-bottom: 4px;
  }
  .pl-xl-4 {
    padding-left: 4px;
  }
  .ml-xl-4 {
    margin-left: 4px;
  }
  .pr-xl-4 {
    padding-right: 4px;
  }
  .mr-xl-4 {
    margin-right: 4px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-4 {
    padding: 4px;
  }
  .m-xxl-4 {
    margin: 4px;
  }
  .p-xxl-4 {
    padding: 4px;
  }
  .m-xxl-4 {
    margin: 4px;
  }
  .pt-xxl-4 {
    padding-top: 4px;
  }
  .mt-xxl-4 {
    margin-top: 4px;
  }
  .pb-xxl-4 {
    padding-bottom: 4px;
  }
  .mb-xxl-4 {
    margin-bottom: 4px;
  }
  .pl-xxl-4 {
    padding-left: 4px;
  }
  .ml-xxl-4 {
    margin-left: 4px;
  }
  .pr-xxl-4 {
    padding-right: 4px;
  }
  .mr-xxl-4 {
    margin-right: 4px;
  }
}
.p-8 {
  padding: 8px;
}

.m-8 {
  margin: 8px;
}

.p-8 {
  padding: 8px;
}

.m-8 {
  margin: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.mr-8 {
  margin-right: 8px;
}

@media (min-width: 576px) {
  .p-sm-8 {
    padding: 8px;
  }
  .m-sm-8 {
    margin: 8px;
  }
  .p-sm-8 {
    padding: 8px;
  }
  .m-sm-8 {
    margin: 8px;
  }
  .pt-sm-8 {
    padding-top: 8px;
  }
  .mt-sm-8 {
    margin-top: 8px;
  }
  .pb-sm-8 {
    padding-bottom: 8px;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
  .pl-sm-8 {
    padding-left: 8px;
  }
  .ml-sm-8 {
    margin-left: 8px;
  }
  .pr-sm-8 {
    padding-right: 8px;
  }
  .mr-sm-8 {
    margin-right: 8px;
  }
}
@media (min-width: 768px) {
  .p-md-8 {
    padding: 8px;
  }
  .m-md-8 {
    margin: 8px;
  }
  .p-md-8 {
    padding: 8px;
  }
  .m-md-8 {
    margin: 8px;
  }
  .pt-md-8 {
    padding-top: 8px;
  }
  .mt-md-8 {
    margin-top: 8px;
  }
  .pb-md-8 {
    padding-bottom: 8px;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .pl-md-8 {
    padding-left: 8px;
  }
  .ml-md-8 {
    margin-left: 8px;
  }
  .pr-md-8 {
    padding-right: 8px;
  }
  .mr-md-8 {
    margin-right: 8px;
  }
}
@media (min-width: 992px) {
  .p-lg-8 {
    padding: 8px;
  }
  .m-lg-8 {
    margin: 8px;
  }
  .p-lg-8 {
    padding: 8px;
  }
  .m-lg-8 {
    margin: 8px;
  }
  .pt-lg-8 {
    padding-top: 8px;
  }
  .mt-lg-8 {
    margin-top: 8px;
  }
  .pb-lg-8 {
    padding-bottom: 8px;
  }
  .mb-lg-8 {
    margin-bottom: 8px;
  }
  .pl-lg-8 {
    padding-left: 8px;
  }
  .ml-lg-8 {
    margin-left: 8px;
  }
  .pr-lg-8 {
    padding-right: 8px;
  }
  .mr-lg-8 {
    margin-right: 8px;
  }
}
@media (min-width: 1200px) {
  .p-xl-8 {
    padding: 8px;
  }
  .m-xl-8 {
    margin: 8px;
  }
  .p-xl-8 {
    padding: 8px;
  }
  .m-xl-8 {
    margin: 8px;
  }
  .pt-xl-8 {
    padding-top: 8px;
  }
  .mt-xl-8 {
    margin-top: 8px;
  }
  .pb-xl-8 {
    padding-bottom: 8px;
  }
  .mb-xl-8 {
    margin-bottom: 8px;
  }
  .pl-xl-8 {
    padding-left: 8px;
  }
  .ml-xl-8 {
    margin-left: 8px;
  }
  .pr-xl-8 {
    padding-right: 8px;
  }
  .mr-xl-8 {
    margin-right: 8px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-8 {
    padding: 8px;
  }
  .m-xxl-8 {
    margin: 8px;
  }
  .p-xxl-8 {
    padding: 8px;
  }
  .m-xxl-8 {
    margin: 8px;
  }
  .pt-xxl-8 {
    padding-top: 8px;
  }
  .mt-xxl-8 {
    margin-top: 8px;
  }
  .pb-xxl-8 {
    padding-bottom: 8px;
  }
  .mb-xxl-8 {
    margin-bottom: 8px;
  }
  .pl-xxl-8 {
    padding-left: 8px;
  }
  .ml-xxl-8 {
    margin-left: 8px;
  }
  .pr-xxl-8 {
    padding-right: 8px;
  }
  .mr-xxl-8 {
    margin-right: 8px;
  }
}
.p-12 {
  padding: 12px;
}

.m-12 {
  margin: 12px;
}

.p-12 {
  padding: 12px;
}

.m-12 {
  margin: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.mr-12 {
  margin-right: 12px;
}

@media (min-width: 576px) {
  .p-sm-12 {
    padding: 12px;
  }
  .m-sm-12 {
    margin: 12px;
  }
  .p-sm-12 {
    padding: 12px;
  }
  .m-sm-12 {
    margin: 12px;
  }
  .pt-sm-12 {
    padding-top: 12px;
  }
  .mt-sm-12 {
    margin-top: 12px;
  }
  .pb-sm-12 {
    padding-bottom: 12px;
  }
  .mb-sm-12 {
    margin-bottom: 12px;
  }
  .pl-sm-12 {
    padding-left: 12px;
  }
  .ml-sm-12 {
    margin-left: 12px;
  }
  .pr-sm-12 {
    padding-right: 12px;
  }
  .mr-sm-12 {
    margin-right: 12px;
  }
}
@media (min-width: 768px) {
  .p-md-12 {
    padding: 12px;
  }
  .m-md-12 {
    margin: 12px;
  }
  .p-md-12 {
    padding: 12px;
  }
  .m-md-12 {
    margin: 12px;
  }
  .pt-md-12 {
    padding-top: 12px;
  }
  .mt-md-12 {
    margin-top: 12px;
  }
  .pb-md-12 {
    padding-bottom: 12px;
  }
  .mb-md-12 {
    margin-bottom: 12px;
  }
  .pl-md-12 {
    padding-left: 12px;
  }
  .ml-md-12 {
    margin-left: 12px;
  }
  .pr-md-12 {
    padding-right: 12px;
  }
  .mr-md-12 {
    margin-right: 12px;
  }
}
@media (min-width: 992px) {
  .p-lg-12 {
    padding: 12px;
  }
  .m-lg-12 {
    margin: 12px;
  }
  .p-lg-12 {
    padding: 12px;
  }
  .m-lg-12 {
    margin: 12px;
  }
  .pt-lg-12 {
    padding-top: 12px;
  }
  .mt-lg-12 {
    margin-top: 12px;
  }
  .pb-lg-12 {
    padding-bottom: 12px;
  }
  .mb-lg-12 {
    margin-bottom: 12px;
  }
  .pl-lg-12 {
    padding-left: 12px;
  }
  .ml-lg-12 {
    margin-left: 12px;
  }
  .pr-lg-12 {
    padding-right: 12px;
  }
  .mr-lg-12 {
    margin-right: 12px;
  }
}
@media (min-width: 1200px) {
  .p-xl-12 {
    padding: 12px;
  }
  .m-xl-12 {
    margin: 12px;
  }
  .p-xl-12 {
    padding: 12px;
  }
  .m-xl-12 {
    margin: 12px;
  }
  .pt-xl-12 {
    padding-top: 12px;
  }
  .mt-xl-12 {
    margin-top: 12px;
  }
  .pb-xl-12 {
    padding-bottom: 12px;
  }
  .mb-xl-12 {
    margin-bottom: 12px;
  }
  .pl-xl-12 {
    padding-left: 12px;
  }
  .ml-xl-12 {
    margin-left: 12px;
  }
  .pr-xl-12 {
    padding-right: 12px;
  }
  .mr-xl-12 {
    margin-right: 12px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-12 {
    padding: 12px;
  }
  .m-xxl-12 {
    margin: 12px;
  }
  .p-xxl-12 {
    padding: 12px;
  }
  .m-xxl-12 {
    margin: 12px;
  }
  .pt-xxl-12 {
    padding-top: 12px;
  }
  .mt-xxl-12 {
    margin-top: 12px;
  }
  .pb-xxl-12 {
    padding-bottom: 12px;
  }
  .mb-xxl-12 {
    margin-bottom: 12px;
  }
  .pl-xxl-12 {
    padding-left: 12px;
  }
  .ml-xxl-12 {
    margin-left: 12px;
  }
  .pr-xxl-12 {
    padding-right: 12px;
  }
  .mr-xxl-12 {
    margin-right: 12px;
  }
}
.p-16 {
  padding: 16px;
}

.m-16 {
  margin: 16px;
}

.p-16 {
  padding: 16px;
}

.m-16 {
  margin: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.mr-16 {
  margin-right: 16px;
}

@media (min-width: 576px) {
  .p-sm-16 {
    padding: 16px;
  }
  .m-sm-16 {
    margin: 16px;
  }
  .p-sm-16 {
    padding: 16px;
  }
  .m-sm-16 {
    margin: 16px;
  }
  .pt-sm-16 {
    padding-top: 16px;
  }
  .mt-sm-16 {
    margin-top: 16px;
  }
  .pb-sm-16 {
    padding-bottom: 16px;
  }
  .mb-sm-16 {
    margin-bottom: 16px;
  }
  .pl-sm-16 {
    padding-left: 16px;
  }
  .ml-sm-16 {
    margin-left: 16px;
  }
  .pr-sm-16 {
    padding-right: 16px;
  }
  .mr-sm-16 {
    margin-right: 16px;
  }
}
@media (min-width: 768px) {
  .p-md-16 {
    padding: 16px;
  }
  .m-md-16 {
    margin: 16px;
  }
  .p-md-16 {
    padding: 16px;
  }
  .m-md-16 {
    margin: 16px;
  }
  .pt-md-16 {
    padding-top: 16px;
  }
  .mt-md-16 {
    margin-top: 16px;
  }
  .pb-md-16 {
    padding-bottom: 16px;
  }
  .mb-md-16 {
    margin-bottom: 16px;
  }
  .pl-md-16 {
    padding-left: 16px;
  }
  .ml-md-16 {
    margin-left: 16px;
  }
  .pr-md-16 {
    padding-right: 16px;
  }
  .mr-md-16 {
    margin-right: 16px;
  }
}
@media (min-width: 992px) {
  .p-lg-16 {
    padding: 16px;
  }
  .m-lg-16 {
    margin: 16px;
  }
  .p-lg-16 {
    padding: 16px;
  }
  .m-lg-16 {
    margin: 16px;
  }
  .pt-lg-16 {
    padding-top: 16px;
  }
  .mt-lg-16 {
    margin-top: 16px;
  }
  .pb-lg-16 {
    padding-bottom: 16px;
  }
  .mb-lg-16 {
    margin-bottom: 16px;
  }
  .pl-lg-16 {
    padding-left: 16px;
  }
  .ml-lg-16 {
    margin-left: 16px;
  }
  .pr-lg-16 {
    padding-right: 16px;
  }
  .mr-lg-16 {
    margin-right: 16px;
  }
}
@media (min-width: 1200px) {
  .p-xl-16 {
    padding: 16px;
  }
  .m-xl-16 {
    margin: 16px;
  }
  .p-xl-16 {
    padding: 16px;
  }
  .m-xl-16 {
    margin: 16px;
  }
  .pt-xl-16 {
    padding-top: 16px;
  }
  .mt-xl-16 {
    margin-top: 16px;
  }
  .pb-xl-16 {
    padding-bottom: 16px;
  }
  .mb-xl-16 {
    margin-bottom: 16px;
  }
  .pl-xl-16 {
    padding-left: 16px;
  }
  .ml-xl-16 {
    margin-left: 16px;
  }
  .pr-xl-16 {
    padding-right: 16px;
  }
  .mr-xl-16 {
    margin-right: 16px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-16 {
    padding: 16px;
  }
  .m-xxl-16 {
    margin: 16px;
  }
  .p-xxl-16 {
    padding: 16px;
  }
  .m-xxl-16 {
    margin: 16px;
  }
  .pt-xxl-16 {
    padding-top: 16px;
  }
  .mt-xxl-16 {
    margin-top: 16px;
  }
  .pb-xxl-16 {
    padding-bottom: 16px;
  }
  .mb-xxl-16 {
    margin-bottom: 16px;
  }
  .pl-xxl-16 {
    padding-left: 16px;
  }
  .ml-xxl-16 {
    margin-left: 16px;
  }
  .pr-xxl-16 {
    padding-right: 16px;
  }
  .mr-xxl-16 {
    margin-right: 16px;
  }
}
.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.mr-20 {
  margin-right: 20px;
}

@media (min-width: 576px) {
  .p-sm-20 {
    padding: 20px;
  }
  .m-sm-20 {
    margin: 20px;
  }
  .p-sm-20 {
    padding: 20px;
  }
  .m-sm-20 {
    margin: 20px;
  }
  .pt-sm-20 {
    padding-top: 20px;
  }
  .mt-sm-20 {
    margin-top: 20px;
  }
  .pb-sm-20 {
    padding-bottom: 20px;
  }
  .mb-sm-20 {
    margin-bottom: 20px;
  }
  .pl-sm-20 {
    padding-left: 20px;
  }
  .ml-sm-20 {
    margin-left: 20px;
  }
  .pr-sm-20 {
    padding-right: 20px;
  }
  .mr-sm-20 {
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .p-md-20 {
    padding: 20px;
  }
  .m-md-20 {
    margin: 20px;
  }
  .p-md-20 {
    padding: 20px;
  }
  .m-md-20 {
    margin: 20px;
  }
  .pt-md-20 {
    padding-top: 20px;
  }
  .mt-md-20 {
    margin-top: 20px;
  }
  .pb-md-20 {
    padding-bottom: 20px;
  }
  .mb-md-20 {
    margin-bottom: 20px;
  }
  .pl-md-20 {
    padding-left: 20px;
  }
  .ml-md-20 {
    margin-left: 20px;
  }
  .pr-md-20 {
    padding-right: 20px;
  }
  .mr-md-20 {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .p-lg-20 {
    padding: 20px;
  }
  .m-lg-20 {
    margin: 20px;
  }
  .p-lg-20 {
    padding: 20px;
  }
  .m-lg-20 {
    margin: 20px;
  }
  .pt-lg-20 {
    padding-top: 20px;
  }
  .mt-lg-20 {
    margin-top: 20px;
  }
  .pb-lg-20 {
    padding-bottom: 20px;
  }
  .mb-lg-20 {
    margin-bottom: 20px;
  }
  .pl-lg-20 {
    padding-left: 20px;
  }
  .ml-lg-20 {
    margin-left: 20px;
  }
  .pr-lg-20 {
    padding-right: 20px;
  }
  .mr-lg-20 {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .p-xl-20 {
    padding: 20px;
  }
  .m-xl-20 {
    margin: 20px;
  }
  .p-xl-20 {
    padding: 20px;
  }
  .m-xl-20 {
    margin: 20px;
  }
  .pt-xl-20 {
    padding-top: 20px;
  }
  .mt-xl-20 {
    margin-top: 20px;
  }
  .pb-xl-20 {
    padding-bottom: 20px;
  }
  .mb-xl-20 {
    margin-bottom: 20px;
  }
  .pl-xl-20 {
    padding-left: 20px;
  }
  .ml-xl-20 {
    margin-left: 20px;
  }
  .pr-xl-20 {
    padding-right: 20px;
  }
  .mr-xl-20 {
    margin-right: 20px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-20 {
    padding: 20px;
  }
  .m-xxl-20 {
    margin: 20px;
  }
  .p-xxl-20 {
    padding: 20px;
  }
  .m-xxl-20 {
    margin: 20px;
  }
  .pt-xxl-20 {
    padding-top: 20px;
  }
  .mt-xxl-20 {
    margin-top: 20px;
  }
  .pb-xxl-20 {
    padding-bottom: 20px;
  }
  .mb-xxl-20 {
    margin-bottom: 20px;
  }
  .pl-xxl-20 {
    padding-left: 20px;
  }
  .ml-xxl-20 {
    margin-left: 20px;
  }
  .pr-xxl-20 {
    padding-right: 20px;
  }
  .mr-xxl-20 {
    margin-right: 20px;
  }
}
.p-24 {
  padding: 24px;
}

.m-24 {
  margin: 24px;
}

.p-24 {
  padding: 24px;
}

.m-24 {
  margin: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.mr-24 {
  margin-right: 24px;
}

@media (min-width: 576px) {
  .p-sm-24 {
    padding: 24px;
  }
  .m-sm-24 {
    margin: 24px;
  }
  .p-sm-24 {
    padding: 24px;
  }
  .m-sm-24 {
    margin: 24px;
  }
  .pt-sm-24 {
    padding-top: 24px;
  }
  .mt-sm-24 {
    margin-top: 24px;
  }
  .pb-sm-24 {
    padding-bottom: 24px;
  }
  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .pl-sm-24 {
    padding-left: 24px;
  }
  .ml-sm-24 {
    margin-left: 24px;
  }
  .pr-sm-24 {
    padding-right: 24px;
  }
  .mr-sm-24 {
    margin-right: 24px;
  }
}
@media (min-width: 768px) {
  .p-md-24 {
    padding: 24px;
  }
  .m-md-24 {
    margin: 24px;
  }
  .p-md-24 {
    padding: 24px;
  }
  .m-md-24 {
    margin: 24px;
  }
  .pt-md-24 {
    padding-top: 24px;
  }
  .mt-md-24 {
    margin-top: 24px;
  }
  .pb-md-24 {
    padding-bottom: 24px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
  .pl-md-24 {
    padding-left: 24px;
  }
  .ml-md-24 {
    margin-left: 24px;
  }
  .pr-md-24 {
    padding-right: 24px;
  }
  .mr-md-24 {
    margin-right: 24px;
  }
}
@media (min-width: 992px) {
  .p-lg-24 {
    padding: 24px;
  }
  .m-lg-24 {
    margin: 24px;
  }
  .p-lg-24 {
    padding: 24px;
  }
  .m-lg-24 {
    margin: 24px;
  }
  .pt-lg-24 {
    padding-top: 24px;
  }
  .mt-lg-24 {
    margin-top: 24px;
  }
  .pb-lg-24 {
    padding-bottom: 24px;
  }
  .mb-lg-24 {
    margin-bottom: 24px;
  }
  .pl-lg-24 {
    padding-left: 24px;
  }
  .ml-lg-24 {
    margin-left: 24px;
  }
  .pr-lg-24 {
    padding-right: 24px;
  }
  .mr-lg-24 {
    margin-right: 24px;
  }
}
@media (min-width: 1200px) {
  .p-xl-24 {
    padding: 24px;
  }
  .m-xl-24 {
    margin: 24px;
  }
  .p-xl-24 {
    padding: 24px;
  }
  .m-xl-24 {
    margin: 24px;
  }
  .pt-xl-24 {
    padding-top: 24px;
  }
  .mt-xl-24 {
    margin-top: 24px;
  }
  .pb-xl-24 {
    padding-bottom: 24px;
  }
  .mb-xl-24 {
    margin-bottom: 24px;
  }
  .pl-xl-24 {
    padding-left: 24px;
  }
  .ml-xl-24 {
    margin-left: 24px;
  }
  .pr-xl-24 {
    padding-right: 24px;
  }
  .mr-xl-24 {
    margin-right: 24px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-24 {
    padding: 24px;
  }
  .m-xxl-24 {
    margin: 24px;
  }
  .p-xxl-24 {
    padding: 24px;
  }
  .m-xxl-24 {
    margin: 24px;
  }
  .pt-xxl-24 {
    padding-top: 24px;
  }
  .mt-xxl-24 {
    margin-top: 24px;
  }
  .pb-xxl-24 {
    padding-bottom: 24px;
  }
  .mb-xxl-24 {
    margin-bottom: 24px;
  }
  .pl-xxl-24 {
    padding-left: 24px;
  }
  .ml-xxl-24 {
    margin-left: 24px;
  }
  .pr-xxl-24 {
    padding-right: 24px;
  }
  .mr-xxl-24 {
    margin-right: 24px;
  }
}
.p-28 {
  padding: 28px;
}

.m-28 {
  margin: 28px;
}

.p-28 {
  padding: 28px;
}

.m-28 {
  margin: 28px;
}

.pt-28 {
  padding-top: 28px;
}

.mt-28 {
  margin-top: 28px;
}

.pb-28 {
  padding-bottom: 28px;
}

.mb-28 {
  margin-bottom: 28px;
}

.pl-28 {
  padding-left: 28px;
}

.ml-28 {
  margin-left: 28px;
}

.pr-28 {
  padding-right: 28px;
}

.mr-28 {
  margin-right: 28px;
}

@media (min-width: 576px) {
  .p-sm-28 {
    padding: 28px;
  }
  .m-sm-28 {
    margin: 28px;
  }
  .p-sm-28 {
    padding: 28px;
  }
  .m-sm-28 {
    margin: 28px;
  }
  .pt-sm-28 {
    padding-top: 28px;
  }
  .mt-sm-28 {
    margin-top: 28px;
  }
  .pb-sm-28 {
    padding-bottom: 28px;
  }
  .mb-sm-28 {
    margin-bottom: 28px;
  }
  .pl-sm-28 {
    padding-left: 28px;
  }
  .ml-sm-28 {
    margin-left: 28px;
  }
  .pr-sm-28 {
    padding-right: 28px;
  }
  .mr-sm-28 {
    margin-right: 28px;
  }
}
@media (min-width: 768px) {
  .p-md-28 {
    padding: 28px;
  }
  .m-md-28 {
    margin: 28px;
  }
  .p-md-28 {
    padding: 28px;
  }
  .m-md-28 {
    margin: 28px;
  }
  .pt-md-28 {
    padding-top: 28px;
  }
  .mt-md-28 {
    margin-top: 28px;
  }
  .pb-md-28 {
    padding-bottom: 28px;
  }
  .mb-md-28 {
    margin-bottom: 28px;
  }
  .pl-md-28 {
    padding-left: 28px;
  }
  .ml-md-28 {
    margin-left: 28px;
  }
  .pr-md-28 {
    padding-right: 28px;
  }
  .mr-md-28 {
    margin-right: 28px;
  }
}
@media (min-width: 992px) {
  .p-lg-28 {
    padding: 28px;
  }
  .m-lg-28 {
    margin: 28px;
  }
  .p-lg-28 {
    padding: 28px;
  }
  .m-lg-28 {
    margin: 28px;
  }
  .pt-lg-28 {
    padding-top: 28px;
  }
  .mt-lg-28 {
    margin-top: 28px;
  }
  .pb-lg-28 {
    padding-bottom: 28px;
  }
  .mb-lg-28 {
    margin-bottom: 28px;
  }
  .pl-lg-28 {
    padding-left: 28px;
  }
  .ml-lg-28 {
    margin-left: 28px;
  }
  .pr-lg-28 {
    padding-right: 28px;
  }
  .mr-lg-28 {
    margin-right: 28px;
  }
}
@media (min-width: 1200px) {
  .p-xl-28 {
    padding: 28px;
  }
  .m-xl-28 {
    margin: 28px;
  }
  .p-xl-28 {
    padding: 28px;
  }
  .m-xl-28 {
    margin: 28px;
  }
  .pt-xl-28 {
    padding-top: 28px;
  }
  .mt-xl-28 {
    margin-top: 28px;
  }
  .pb-xl-28 {
    padding-bottom: 28px;
  }
  .mb-xl-28 {
    margin-bottom: 28px;
  }
  .pl-xl-28 {
    padding-left: 28px;
  }
  .ml-xl-28 {
    margin-left: 28px;
  }
  .pr-xl-28 {
    padding-right: 28px;
  }
  .mr-xl-28 {
    margin-right: 28px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-28 {
    padding: 28px;
  }
  .m-xxl-28 {
    margin: 28px;
  }
  .p-xxl-28 {
    padding: 28px;
  }
  .m-xxl-28 {
    margin: 28px;
  }
  .pt-xxl-28 {
    padding-top: 28px;
  }
  .mt-xxl-28 {
    margin-top: 28px;
  }
  .pb-xxl-28 {
    padding-bottom: 28px;
  }
  .mb-xxl-28 {
    margin-bottom: 28px;
  }
  .pl-xxl-28 {
    padding-left: 28px;
  }
  .ml-xxl-28 {
    margin-left: 28px;
  }
  .pr-xxl-28 {
    padding-right: 28px;
  }
  .mr-xxl-28 {
    margin-right: 28px;
  }
}
.p-32 {
  padding: 32px;
}

.m-32 {
  margin: 32px;
}

.p-32 {
  padding: 32px;
}

.m-32 {
  margin: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.pr-32 {
  padding-right: 32px;
}

.mr-32 {
  margin-right: 32px;
}

@media (min-width: 576px) {
  .p-sm-32 {
    padding: 32px;
  }
  .m-sm-32 {
    margin: 32px;
  }
  .p-sm-32 {
    padding: 32px;
  }
  .m-sm-32 {
    margin: 32px;
  }
  .pt-sm-32 {
    padding-top: 32px;
  }
  .mt-sm-32 {
    margin-top: 32px;
  }
  .pb-sm-32 {
    padding-bottom: 32px;
  }
  .mb-sm-32 {
    margin-bottom: 32px;
  }
  .pl-sm-32 {
    padding-left: 32px;
  }
  .ml-sm-32 {
    margin-left: 32px;
  }
  .pr-sm-32 {
    padding-right: 32px;
  }
  .mr-sm-32 {
    margin-right: 32px;
  }
}
@media (min-width: 768px) {
  .p-md-32 {
    padding: 32px;
  }
  .m-md-32 {
    margin: 32px;
  }
  .p-md-32 {
    padding: 32px;
  }
  .m-md-32 {
    margin: 32px;
  }
  .pt-md-32 {
    padding-top: 32px;
  }
  .mt-md-32 {
    margin-top: 32px;
  }
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
  .pl-md-32 {
    padding-left: 32px;
  }
  .ml-md-32 {
    margin-left: 32px;
  }
  .pr-md-32 {
    padding-right: 32px;
  }
  .mr-md-32 {
    margin-right: 32px;
  }
}
@media (min-width: 992px) {
  .p-lg-32 {
    padding: 32px;
  }
  .m-lg-32 {
    margin: 32px;
  }
  .p-lg-32 {
    padding: 32px;
  }
  .m-lg-32 {
    margin: 32px;
  }
  .pt-lg-32 {
    padding-top: 32px;
  }
  .mt-lg-32 {
    margin-top: 32px;
  }
  .pb-lg-32 {
    padding-bottom: 32px;
  }
  .mb-lg-32 {
    margin-bottom: 32px;
  }
  .pl-lg-32 {
    padding-left: 32px;
  }
  .ml-lg-32 {
    margin-left: 32px;
  }
  .pr-lg-32 {
    padding-right: 32px;
  }
  .mr-lg-32 {
    margin-right: 32px;
  }
}
@media (min-width: 1200px) {
  .p-xl-32 {
    padding: 32px;
  }
  .m-xl-32 {
    margin: 32px;
  }
  .p-xl-32 {
    padding: 32px;
  }
  .m-xl-32 {
    margin: 32px;
  }
  .pt-xl-32 {
    padding-top: 32px;
  }
  .mt-xl-32 {
    margin-top: 32px;
  }
  .pb-xl-32 {
    padding-bottom: 32px;
  }
  .mb-xl-32 {
    margin-bottom: 32px;
  }
  .pl-xl-32 {
    padding-left: 32px;
  }
  .ml-xl-32 {
    margin-left: 32px;
  }
  .pr-xl-32 {
    padding-right: 32px;
  }
  .mr-xl-32 {
    margin-right: 32px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-32 {
    padding: 32px;
  }
  .m-xxl-32 {
    margin: 32px;
  }
  .p-xxl-32 {
    padding: 32px;
  }
  .m-xxl-32 {
    margin: 32px;
  }
  .pt-xxl-32 {
    padding-top: 32px;
  }
  .mt-xxl-32 {
    margin-top: 32px;
  }
  .pb-xxl-32 {
    padding-bottom: 32px;
  }
  .mb-xxl-32 {
    margin-bottom: 32px;
  }
  .pl-xxl-32 {
    padding-left: 32px;
  }
  .ml-xxl-32 {
    margin-left: 32px;
  }
  .pr-xxl-32 {
    padding-right: 32px;
  }
  .mr-xxl-32 {
    margin-right: 32px;
  }
}
.p-36 {
  padding: 36px;
}

.m-36 {
  margin: 36px;
}

.p-36 {
  padding: 36px;
}

.m-36 {
  margin: 36px;
}

.pt-36 {
  padding-top: 36px;
}

.mt-36 {
  margin-top: 36px;
}

.pb-36 {
  padding-bottom: 36px;
}

.mb-36 {
  margin-bottom: 36px;
}

.pl-36 {
  padding-left: 36px;
}

.ml-36 {
  margin-left: 36px;
}

.pr-36 {
  padding-right: 36px;
}

.mr-36 {
  margin-right: 36px;
}

@media (min-width: 576px) {
  .p-sm-36 {
    padding: 36px;
  }
  .m-sm-36 {
    margin: 36px;
  }
  .p-sm-36 {
    padding: 36px;
  }
  .m-sm-36 {
    margin: 36px;
  }
  .pt-sm-36 {
    padding-top: 36px;
  }
  .mt-sm-36 {
    margin-top: 36px;
  }
  .pb-sm-36 {
    padding-bottom: 36px;
  }
  .mb-sm-36 {
    margin-bottom: 36px;
  }
  .pl-sm-36 {
    padding-left: 36px;
  }
  .ml-sm-36 {
    margin-left: 36px;
  }
  .pr-sm-36 {
    padding-right: 36px;
  }
  .mr-sm-36 {
    margin-right: 36px;
  }
}
@media (min-width: 768px) {
  .p-md-36 {
    padding: 36px;
  }
  .m-md-36 {
    margin: 36px;
  }
  .p-md-36 {
    padding: 36px;
  }
  .m-md-36 {
    margin: 36px;
  }
  .pt-md-36 {
    padding-top: 36px;
  }
  .mt-md-36 {
    margin-top: 36px;
  }
  .pb-md-36 {
    padding-bottom: 36px;
  }
  .mb-md-36 {
    margin-bottom: 36px;
  }
  .pl-md-36 {
    padding-left: 36px;
  }
  .ml-md-36 {
    margin-left: 36px;
  }
  .pr-md-36 {
    padding-right: 36px;
  }
  .mr-md-36 {
    margin-right: 36px;
  }
}
@media (min-width: 992px) {
  .p-lg-36 {
    padding: 36px;
  }
  .m-lg-36 {
    margin: 36px;
  }
  .p-lg-36 {
    padding: 36px;
  }
  .m-lg-36 {
    margin: 36px;
  }
  .pt-lg-36 {
    padding-top: 36px;
  }
  .mt-lg-36 {
    margin-top: 36px;
  }
  .pb-lg-36 {
    padding-bottom: 36px;
  }
  .mb-lg-36 {
    margin-bottom: 36px;
  }
  .pl-lg-36 {
    padding-left: 36px;
  }
  .ml-lg-36 {
    margin-left: 36px;
  }
  .pr-lg-36 {
    padding-right: 36px;
  }
  .mr-lg-36 {
    margin-right: 36px;
  }
}
@media (min-width: 1200px) {
  .p-xl-36 {
    padding: 36px;
  }
  .m-xl-36 {
    margin: 36px;
  }
  .p-xl-36 {
    padding: 36px;
  }
  .m-xl-36 {
    margin: 36px;
  }
  .pt-xl-36 {
    padding-top: 36px;
  }
  .mt-xl-36 {
    margin-top: 36px;
  }
  .pb-xl-36 {
    padding-bottom: 36px;
  }
  .mb-xl-36 {
    margin-bottom: 36px;
  }
  .pl-xl-36 {
    padding-left: 36px;
  }
  .ml-xl-36 {
    margin-left: 36px;
  }
  .pr-xl-36 {
    padding-right: 36px;
  }
  .mr-xl-36 {
    margin-right: 36px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-36 {
    padding: 36px;
  }
  .m-xxl-36 {
    margin: 36px;
  }
  .p-xxl-36 {
    padding: 36px;
  }
  .m-xxl-36 {
    margin: 36px;
  }
  .pt-xxl-36 {
    padding-top: 36px;
  }
  .mt-xxl-36 {
    margin-top: 36px;
  }
  .pb-xxl-36 {
    padding-bottom: 36px;
  }
  .mb-xxl-36 {
    margin-bottom: 36px;
  }
  .pl-xxl-36 {
    padding-left: 36px;
  }
  .ml-xxl-36 {
    margin-left: 36px;
  }
  .pr-xxl-36 {
    padding-right: 36px;
  }
  .mr-xxl-36 {
    margin-right: 36px;
  }
}
.p-40 {
  padding: 40px;
}

.m-40 {
  margin: 40px;
}

.p-40 {
  padding: 40px;
}

.m-40 {
  margin: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.mr-40 {
  margin-right: 40px;
}

@media (min-width: 576px) {
  .p-sm-40 {
    padding: 40px;
  }
  .m-sm-40 {
    margin: 40px;
  }
  .p-sm-40 {
    padding: 40px;
  }
  .m-sm-40 {
    margin: 40px;
  }
  .pt-sm-40 {
    padding-top: 40px;
  }
  .mt-sm-40 {
    margin-top: 40px;
  }
  .pb-sm-40 {
    padding-bottom: 40px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .pl-sm-40 {
    padding-left: 40px;
  }
  .ml-sm-40 {
    margin-left: 40px;
  }
  .pr-sm-40 {
    padding-right: 40px;
  }
  .mr-sm-40 {
    margin-right: 40px;
  }
}
@media (min-width: 768px) {
  .p-md-40 {
    padding: 40px;
  }
  .m-md-40 {
    margin: 40px;
  }
  .p-md-40 {
    padding: 40px;
  }
  .m-md-40 {
    margin: 40px;
  }
  .pt-md-40 {
    padding-top: 40px;
  }
  .mt-md-40 {
    margin-top: 40px;
  }
  .pb-md-40 {
    padding-bottom: 40px;
  }
  .mb-md-40 {
    margin-bottom: 40px;
  }
  .pl-md-40 {
    padding-left: 40px;
  }
  .ml-md-40 {
    margin-left: 40px;
  }
  .pr-md-40 {
    padding-right: 40px;
  }
  .mr-md-40 {
    margin-right: 40px;
  }
}
@media (min-width: 992px) {
  .p-lg-40 {
    padding: 40px;
  }
  .m-lg-40 {
    margin: 40px;
  }
  .p-lg-40 {
    padding: 40px;
  }
  .m-lg-40 {
    margin: 40px;
  }
  .pt-lg-40 {
    padding-top: 40px;
  }
  .mt-lg-40 {
    margin-top: 40px;
  }
  .pb-lg-40 {
    padding-bottom: 40px;
  }
  .mb-lg-40 {
    margin-bottom: 40px;
  }
  .pl-lg-40 {
    padding-left: 40px;
  }
  .ml-lg-40 {
    margin-left: 40px;
  }
  .pr-lg-40 {
    padding-right: 40px;
  }
  .mr-lg-40 {
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .p-xl-40 {
    padding: 40px;
  }
  .m-xl-40 {
    margin: 40px;
  }
  .p-xl-40 {
    padding: 40px;
  }
  .m-xl-40 {
    margin: 40px;
  }
  .pt-xl-40 {
    padding-top: 40px;
  }
  .mt-xl-40 {
    margin-top: 40px;
  }
  .pb-xl-40 {
    padding-bottom: 40px;
  }
  .mb-xl-40 {
    margin-bottom: 40px;
  }
  .pl-xl-40 {
    padding-left: 40px;
  }
  .ml-xl-40 {
    margin-left: 40px;
  }
  .pr-xl-40 {
    padding-right: 40px;
  }
  .mr-xl-40 {
    margin-right: 40px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-40 {
    padding: 40px;
  }
  .m-xxl-40 {
    margin: 40px;
  }
  .p-xxl-40 {
    padding: 40px;
  }
  .m-xxl-40 {
    margin: 40px;
  }
  .pt-xxl-40 {
    padding-top: 40px;
  }
  .mt-xxl-40 {
    margin-top: 40px;
  }
  .pb-xxl-40 {
    padding-bottom: 40px;
  }
  .mb-xxl-40 {
    margin-bottom: 40px;
  }
  .pl-xxl-40 {
    padding-left: 40px;
  }
  .ml-xxl-40 {
    margin-left: 40px;
  }
  .pr-xxl-40 {
    padding-right: 40px;
  }
  .mr-xxl-40 {
    margin-right: 40px;
  }
}
.p-44 {
  padding: 44px;
}

.m-44 {
  margin: 44px;
}

.p-44 {
  padding: 44px;
}

.m-44 {
  margin: 44px;
}

.pt-44 {
  padding-top: 44px;
}

.mt-44 {
  margin-top: 44px;
}

.pb-44 {
  padding-bottom: 44px;
}

.mb-44 {
  margin-bottom: 44px;
}

.pl-44 {
  padding-left: 44px;
}

.ml-44 {
  margin-left: 44px;
}

.pr-44 {
  padding-right: 44px;
}

.mr-44 {
  margin-right: 44px;
}

@media (min-width: 576px) {
  .p-sm-44 {
    padding: 44px;
  }
  .m-sm-44 {
    margin: 44px;
  }
  .p-sm-44 {
    padding: 44px;
  }
  .m-sm-44 {
    margin: 44px;
  }
  .pt-sm-44 {
    padding-top: 44px;
  }
  .mt-sm-44 {
    margin-top: 44px;
  }
  .pb-sm-44 {
    padding-bottom: 44px;
  }
  .mb-sm-44 {
    margin-bottom: 44px;
  }
  .pl-sm-44 {
    padding-left: 44px;
  }
  .ml-sm-44 {
    margin-left: 44px;
  }
  .pr-sm-44 {
    padding-right: 44px;
  }
  .mr-sm-44 {
    margin-right: 44px;
  }
}
@media (min-width: 768px) {
  .p-md-44 {
    padding: 44px;
  }
  .m-md-44 {
    margin: 44px;
  }
  .p-md-44 {
    padding: 44px;
  }
  .m-md-44 {
    margin: 44px;
  }
  .pt-md-44 {
    padding-top: 44px;
  }
  .mt-md-44 {
    margin-top: 44px;
  }
  .pb-md-44 {
    padding-bottom: 44px;
  }
  .mb-md-44 {
    margin-bottom: 44px;
  }
  .pl-md-44 {
    padding-left: 44px;
  }
  .ml-md-44 {
    margin-left: 44px;
  }
  .pr-md-44 {
    padding-right: 44px;
  }
  .mr-md-44 {
    margin-right: 44px;
  }
}
@media (min-width: 992px) {
  .p-lg-44 {
    padding: 44px;
  }
  .m-lg-44 {
    margin: 44px;
  }
  .p-lg-44 {
    padding: 44px;
  }
  .m-lg-44 {
    margin: 44px;
  }
  .pt-lg-44 {
    padding-top: 44px;
  }
  .mt-lg-44 {
    margin-top: 44px;
  }
  .pb-lg-44 {
    padding-bottom: 44px;
  }
  .mb-lg-44 {
    margin-bottom: 44px;
  }
  .pl-lg-44 {
    padding-left: 44px;
  }
  .ml-lg-44 {
    margin-left: 44px;
  }
  .pr-lg-44 {
    padding-right: 44px;
  }
  .mr-lg-44 {
    margin-right: 44px;
  }
}
@media (min-width: 1200px) {
  .p-xl-44 {
    padding: 44px;
  }
  .m-xl-44 {
    margin: 44px;
  }
  .p-xl-44 {
    padding: 44px;
  }
  .m-xl-44 {
    margin: 44px;
  }
  .pt-xl-44 {
    padding-top: 44px;
  }
  .mt-xl-44 {
    margin-top: 44px;
  }
  .pb-xl-44 {
    padding-bottom: 44px;
  }
  .mb-xl-44 {
    margin-bottom: 44px;
  }
  .pl-xl-44 {
    padding-left: 44px;
  }
  .ml-xl-44 {
    margin-left: 44px;
  }
  .pr-xl-44 {
    padding-right: 44px;
  }
  .mr-xl-44 {
    margin-right: 44px;
  }
}
@media (min-width: 1400px) {
  .p-xxl-44 {
    padding: 44px;
  }
  .m-xxl-44 {
    margin: 44px;
  }
  .p-xxl-44 {
    padding: 44px;
  }
  .m-xxl-44 {
    margin: 44px;
  }
  .pt-xxl-44 {
    padding-top: 44px;
  }
  .mt-xxl-44 {
    margin-top: 44px;
  }
  .pb-xxl-44 {
    padding-bottom: 44px;
  }
  .mb-xxl-44 {
    margin-bottom: 44px;
  }
  .pl-xxl-44 {
    padding-left: 44px;
  }
  .ml-xxl-44 {
    margin-left: 44px;
  }
  .pr-xxl-44 {
    padding-right: 44px;
  }
  .mr-xxl-44 {
    margin-right: 44px;
  }
}
.fs-xs {
  font-size: 12px;
}

.fs-sm {
  font-size: 14px;
}

.fs-md {
  font-size: 16px;
}

.fs-lg {
  font-size: 20px;
}

.fs-xl {
  font-size: 24px;
}

.fs-2xl {
  font-size: 32px;
}

.fs-3xl {
  font-size: 36px;
}

.fs-4xl {
  font-size: 40px;
}

.fs-5xl {
  font-size: 48px;
}

.fs-6xl {
  font-size: 56px;
}

.fs-7xl {
  font-size: 64px;
}

.fs-8xl {
  font-size: 72px;
}

.fs-9xl {
  font-size: 76px;
}

.fs-10xl {
  font-size: 96px;
}

.fs-xs {
  line-height: 1em;
}

.fs-sm {
  line-height: 1.2em;
}

.fs-md {
  line-height: 1.5em;
}

.fs-lg {
  line-height: 1.8em;
}

.fs-xl {
  line-height: 2em;
}

.fs-xxl {
  line-height: 2.5em;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #f0f4ff, #e6f0ff);
  color: #1e293b;
  display: flex;
}
@media (min-width: 768px) {
  body {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}

.heading-2 {
  font-size: 32px;
}

.heading-3 {
  font-size: 24px;
}

.heading-4 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
ul,
li,
span,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
}

label {
  margin-bottom: 8px;
  display: block;
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 16px;
  background-color: #f8fafc;
  transition: border 0.2s ease;
}
input:focus,
select:focus {
  border-color: #3b82f6;
  outline: none;
}/*# sourceMappingURL=main.css.map */